#about {
    background-color:black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
 
}

.about-header h2{
    color:white;
    font-family: royal crescent;
    padding:20px;
}

.about {
    padding:10px;
}
.about-image {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.even {
    flex-direction: row-reverse;
}

.about-image img{
    border: .2rem solid  rgba(248, 166, 73, 0.986);
    border-radius: 1rem;
}

.about-image p {
    padding: 20px;
}