@import url(https://www.1001fonts.com/royal-crescent-font.html);

.bartender {
    background: url(../Media/bartender.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    z-index: -1;
    min-height: 50vh;
}

h1, h2, p {
    color: white;
}