.ui .fixed .menu {
  top:0px;
  left:0px;
  right:0px; 
  bottom:auto;
  border-radius: 0px;
  position: fixed;
  z-index: 101;
  width: 100%;
  min-height: 10px;
}

.ui .inverted .menu {
  border: 0px solid transparent;
  background: #1B1C1D;
  box-shadow: none;

}

  .ui {
  font-family: sans-serif;
  font-size: 0.3rem;
  min-height: 10px;
  line-height: 0.28571429em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
