.contact {
    background-color:rgba(0, 0, 0, 0.637);
    min-height:30vh;
}


.contact-title {
    color: #e9a11bdc;
    font-family: royal crescent;
    text-shadow: 1px 1px black;
    text-align:center;
    padding: 40px;
}

.columns {
    display: flex;
    justify-content: center;
}

.social-link {
    color: #e9a11bdc;
    text-shadow: 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    color: #e9a11bdc;
    text-shadow: 1px 1px black;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}