@import url(https://www.1001fonts.com/royal-crescent-font.html);


.project-section{
    /* background-color: rgba(22, 21, 21, 0.726); */
    background-color:rgba(0, 0, 0, 0.651);

    min-height: 70vh;
    padding:40px;
    /* opacity: 0.9 */
}

.project-section h3 {
    font-family: royal crescent;
}

h3 {
    color: white;
    text-shadow: 1px 1px #e6960221;
    text-align:center;
}

#title {
    padding: 10px;
    font-family: Cochin;
    text-shadow: 1px 1px #e6960221;

}

#proj-p {
    font-family: Cochin;
    font-size: 14px;
}

.portfolio-img {
    height:20vh;
    border-radius: .5rem;
    background-size:cover;
    background-position: center 20%;
    border: .1rem solid black;
}

.projects {
    display: flex;
    flex: 1;
    align-items: start;
    justify-content: space-evenly;
  }
  
  .project {
    border: .4rem solid rgba(248, 167, 73, 0.658);
    border-radius: 1rem;
    margin: 2rem;
    padding: 0.1rem 2.5rem rem 2.5rem;
    width: 20rem;
    height: 20rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .9rem black;
  }

    section .project > div {
    padding: 25px 0 25px 0px; 
    }
  

.luna {
    background-image: url(../Media/luna.jpg);    
}

.workout {
    background-image: url(../Media/workout.jpg);
}

.cocktailparty {
    background-image: url(../Media/cocktailparty.jpg);
}