
h2 {
    font-family: royal crescent;
}

#title {
    padding: 10px;
}

#proj-p {
    font-family: 'sans-serif';
    font-size: 14px;
}

.portfolio-img {
    height:10vh;
    border-radius: .5rem;
    background-size:cover;
    background-position: center 50%;
    border: .1rem solid black;
}

.projects {
    display: flex;
    flex: 1;
    align-items: start;
    justify-content: space-evenly;
  }
  
  .project {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 2rem;
    padding: 0.1rem 2.5rem rem 2.5rem;
    width: 15rem;
    height: 15rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }

    section .project > div {
    padding: 25px 0 25px 0px;
  } 

.luna {
    background-image: url(../Media/luna.jpg);    
}

.workout {
    background-image: url(../Media/workout.jpg);
}

.cocktailparty {
    background-image: url(../Media/cocktailparty.jpg);
}